 <footer class="footer-distributed">
  <div class="col-sm-2 col-md-3 col-lg-9">
    <div class="footer-left">

      

      <div class="footer-icons">
        <a href="#"><i class="fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"> </i></a>
        <a href="#"><i class="fa fa-linkedin"> </i></a>
        <a href="#"><i class="fa fa-github"> </i></a>
      </div>
      <p class="footer-company-name">GEETA @SYNERGYSTIC-IT....... 2018 </p>
    </div>
    </div>
  <!--  <div class="col-sm-2 col-md-3 col-lg-3" style="float:right">
     <P>CONTACT US@</P>
     <P>session1@synergisticit.com</P>
     <p>5104671908</p>
    </div>
    
  </footer> -->
