<footer class="footer-distributed">
  <div class="col-sm-2 col-md-3 col-lg-9">
    <div class="footer-left">

      <p class="footer-links">
        <a href="#">Home</a>
        
        <!-- <a href="#">Blog</a> -->
        ·
        <a href="#">About</a>
        ·
        <a href="#">Shipping and Handling</a>
        ·
        <a href="#">Return Policy</a>

      </p>

      <p class="footer-company-name">GEETA @SYNERGYSTIC-IT....... 2018 </p>

      <div class="footer-icons">
        <p>Please Share @</p>
        <a href="#"><i class="fa-facebook">f </i></a>
        <a href="#"><i class="fa fa-twitter"> </i></a>
        <a href="#"><i class="fa fa-linkedin"> </i></a>
        <a href="#"><i class="fa fa-github"> </i></a>

      </div>
    </div>
    </div>
    <div class="col-sm-2 col-md-3 col-lg-3">
     <P>CONTACT US@</P>
     <P>session1@synergisticit.com</P>
     <p>5104671908</p>
    </div>
    
  </footer>
