.cart{
    width: 100%;
}
.cart__body {
    background-color: #f6f8fa;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 12px sans-serif;
	text-align: center;

	padding: 50px 60px 40px;
	margin-top: 5px;
	overflow: hidden;
  }
  
  .cart-item {
    margin-bottom: 0.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cart-item__name {
    margin-left: 0.5em;
    vertical-align: middle;
  }
  
  .cart-item__price {
    font-weight: bold;
  }
  
  .cart__total {
    font-weight: bold;
    font-size: 1.0em;
    line-height: 1.1em;
    float: right;
    color:dodgerblue;
  }
  .checkout{
    margin-top: 20px;  
    text-align: left;
    vertical-align: middle;
  }

  