<head>
    <title>Ecommerce Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  
   <div class="container-fluid">

   <div class="head-row" > 
        
      <nav class="nav nav-pills">
          <div>
                <img src="../assets/images/logo.jpeg" class="img-responsive" style="display: inline;"/>Geeta's Shopping App

          </div>
         <div>
             <ul class="nav navbar-nav">
                 <li><a href="" [routerLink]="['Home']"> <i class="fa fa-home" aria-hidden="true"></i>Home</a> </li>
             </ul>
         </div>
          <div>
                <ul class="nav navbar-nav" style="float:right">
                    <li><a [routerLink]="['viewcart']"><i class="fa fa-shopping-cart"></i> Shopping cart </a></li>
                </ul>
            </div>
      </nav>      
    </div> 

</div> 
   <hr>
    
    <router-outlet></router-outlet>
    
  
    <hr>
    <app-footer></app-footer>
  
  
  
  
   
  