 <div class="head-row" > 
          <span style="text-align:center;">
             <!-- <img src="../assets/images/logo.jpeg" style="width:100px; height:100px;"/> -->
             <h3 style="text-transform: capitalize"> Geeta's Shopping App</h3>
           </span>
          <hr>
            <nav class="nav nav-pills"bvo>             
                 <ul class="nav navbar-nav" style="float:left; margin-left: 10px">
                     <li><a href="" [routerLink]="['Home']"> <i class="fa fa-home" aria-hidden="true"></i>Home</a> </li>
                     <!-- <li> <a href="#">About</a></li> -->
                     <li> <a href="#">Shipping & Handling</a ></li>
                     <li><a href="#">Return Policy</a></li>
                   <!-- <ul class="nav navbar-nav" style="float:right">  -->
                        <div class="dropdown" style="float:right; margin-right:10px"> 
                          <li ><a [routerLink]="['viewcart']"><i class="fa fa-shopping-cart"></i> Shopping cart </a></li>
                                <!-- <div class="dropdown-content">
                                 <app-cart></app-cart>
                                </div> -->
                            </div>    
                    </ul>
             
          </nav>      
        </div> 
       <section>
       <router-outlet></router-outlet>
       </section>  
       <app-footer></app-footer>
       
     
       
    