.sidenav a {
    padding: 26px 8px 6px 6px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    
}

.sidenav a:hover {
    color: blue;
}

container {
    margin: 30px 20px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}